body{
    width: 1000px;height: auto; overflow:scroll; overflow-wrap: break-word; padding: 2%; margin: auto;
}
.media{
    text-align: center;
}
img{
    margin: 0 25%;
    border: 10px solid orangered;
}
.table{
    width: 900px; height: 100px;
    padding: 5%;
}
.table1 tr td {
    position: relative;
    text-align: center;
    margin:auto 25%;
    text-align: center;
    color: red;
    border: 1px solid red;
}
.table2~{
    position: relative;
    text-align: justify;
    margin:auto 25%;
    border-collapse: separate;
    border: 1px solid black;
}
tr{
    border-collapse: separate;
    border: 1px solid black;
}
th{
    border-collapse: separate;
    border: 1px solid black;
}
td{
    border-collapse: separate;
    border: 1px solid black;
}