body{
    width: 1000px; background-color: gainsboro; overflow-wrap: break-word;
    word-break: keep-all;

}
header{
    width: 100%;
    height: 25px;
}
span.start{
    float:left;
    display: inline;
}
span.signe{
    position: relative;
    direction: rtl;
    text-align:right ;
    padding: 0.5%;
    margin-left: 75%;
    color: white;
    background-color: rgb(88, 77, 238);
}
.sign_up{
    color: white;
    background-color: rgb(218, 106, 32);
}
div.back{
    padding: 2%;
    width: 100%;
    height: 600px;
    background-image: url(https://images.pexels.com/photos/1591373/pexels-photo-1591373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.center{
    width: 50%;
    color: white;
    text-align: center;
    padding: 20% 25%;
}
.build{
    width: 100%;
    font-size: xx-large
}
.sig{
    width: 100%;
    margin-top: 4%;
    text-align: center;
    font-size: larger;
}
.fin{
    width: 100%;
    height: 600px;
}
h3,#tele {
    text-align: center;
}
.Bootstrap,.fully,.Easy{
    width: 200px;
    height: 200px;
}
.fully{
    
    position: relative;
    left: 90px;
    top: 20px;
}

.Bootstrap{
    
    position: relative;
    left: 420px;
    bottom: 200px;
    align-items: center;
}
.Easy{
    
    position: relative;
    left:750px ;
    bottom: 420px;
}
p{
    text-align: center;
}
p.fin{
    position: relative;
    color: cornflowerblue;
    font-size: smaller;
}