@import url(https://fonts.googleapis.com/css2?family=roboto:wght@300;400);
*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}
body{ font-family: 'Roboto', sans-serif ; }

/* hedear section */
.header{
display: flex; justify-content: space-between; align-items: center; height: 60px; padding: 15px;
}
main{ height: calc(100vh-70px); display:flex; background: #f9f9f9; }

/* Side bar */
.